html {
    background-color: rgb(35, 86, 32);
    background-image: url("images/1-big-viburnum.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.header {
    background-color: rgba(114, 208, 77, 0.3);
}

.main {
    background-color: rgba(122, 233, 78, 0.5);
}