.header {
    background-image: url("images/3-fruit.jpg");
    height: 300px;
}

.site-id {
    background-color: rgba(255,255,255, 80%);
    text-align: center;
    border-top-color: #000;
    border-top-style: solid;
    border-top-width: 4px;
}